header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
}

header h2 {
    margin: 0;
}

header h2 a {
    text-decoration: none;
    background: #4CAF50;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px;
}

header ul {
    display: flex;
    list-style: none;
}
header ul li a {
    padding: 26px 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
}
header ul li a:hover {
    background: black;
}
