form {
    padding: 50px;
}

form legend {
    width: 50%;
    margin: 0 auto 30px;
    background: #333333;
    color: white;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    border-radius: 10px;
}

form label,
form label {
    display: block;
    margin-bottom: 30px;
}

form label h4 {
    margin: 0;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 3px solid #4CAF50;
}

form input,
form textarea {
    padding-left: 10px;
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 3px solid grey;
}

form input {
    height: 50px;
}

form button {
    width: 300px;
    display: block;
    margin: 0 auto;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    font-weight: bold;
    transition-duration: 0.4s;
    cursor: pointer;
}
form button:hover {
    background-color: #184e1a;
}

